* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

ul {
  list-style: none;
}

.App {
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
}

/* ---- header --- */

.top {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: rgb(46, 112, 219);
  position: fixed;
  z-index: 10;
}


.hunburger {
  cursor: pointer;
  position: absolute;
  top: 22px;
  left: 25px;
  width: 35px;
  height: 35px;
  border: none;
  background: none;
}

.hunburger span {
  display: block;
  margin-top: 4px;
  width: 100%;
  height: 5px;
  background-color: white;
}

.hunburger:hover {
  opacity: .6;
}

.close-btn {
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 25px;
  width: 35px;
  height: 35px;
  background: none;
  border: none;
  color: white;
  font-size: 35px;
}

.close-btn:hover {
  opacity: .6;
}

/* ---------- div masck -----------*/

.masck {
  background-color: black;
  opacity: .4;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* ------ slider ----------- */

.slider {
  position: absolute;
  top: 80px;
  background-color: rgb(46, 112, 219);
  margin-top: 0px;
  width: 400px;
  height: 100vh;
  position: fixed;
  transform: translate(-400px, 0);
  transition: transform 0.4s;
  z-index: 10;
}

.slider-show {
  transform: translate(0, 0);
}

.menu-icon {
  width: 40px !important;
}

.page-ul {
  width: 70%;
  height: 80%;
  margin: 0 auto;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


.page-li {
  width: 100%;
}

.page-btn {
  cursor: pointer;
  display: block;
  height: 40px;
  width: 100%;
  color: white;
  background: none;
  border: none;
  border-bottom: 3px solid white;
  font-size: 15px;
  font-weight: bold;
}

.page-btn:hover {
  opacity: .6;
}

/* ------ main -------- */

.container {
  margin: 0 auto;
  padding-top: 80px;
  margin-bottom: 50px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 50px;
  margin: 35px auto;
}

.container h2 {
  margin-bottom: 40px;
}

form {
  display: block;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 40px;
}

.i-p-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.i-p {
  width: 100%;
  display: block;
  display: flex;
  justify-content: space-between;
}

.i-p p {
  font-size: 25px;
}

input[type="number"] {
  text-align: right;
  font-size: 20px;
  height: 40px;
  width: 200px;
  border: 3px solid rgb(0, 149, 255);
  border-radius: 5px;
  padding-right: 10px;
}

span {
  font-size: 40px;
}

.plus-minus-container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.main-btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.main-btn {
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  width: 150px;
  height: 40px;
  background-color: rgb(0, 149, 255);
  border: none;
  border-radius: 5px;
  color: white;
}

.main-btn:hover {
  opacity: 0.8;
}

.main-btn:active {
  color: rgb(0, 149, 255);
  background-color: white;
  border: 2px solid rgb(0, 149, 255);
}

.reset,
select {
  cursor: pointer;
  width: 100px;
  height: 40px;
  color: rgb(0, 149, 255);
  background-color: white;
  font-weight: 600;
  border: 3px solid rgb(0, 149, 255);
  border-radius: 7px;
  text-align: center;
}

.reset:hover,
select:hover {
  opacity: .7;
}

.answer {
  display: block;
  width: 85%;
  border-bottom: 3px solid rgb(0, 149, 255);
  font-size: 25px;
  margin-top: 40px;
}

.space {
  height: 80px;
}

.formula-container {
  border: 4px solid red;
  margin-top: 50px;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formula-container h2 {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.formula-container p {
  font-size: 20px;
  font-weight: bold;
  margin-top: 8px;
}

.formula {
  display: flex;
  align-items: center;
  gap: 10px;
}



.term {
  display: flex;
  flex-direction: column;
}

.term p:first-child {
  border-bottom: 2px solid black;
}

.term p {
  text-align: center;
  margin: 0;
}

.molecule {
  border: none !important;
}

.denominator {
  text-align: center;
  border-top: 2px solid #000;
}

/* ---------リンク---------- */
.link-h2 {
  text-align: center;
  font-size: 25px;
}

.links {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.link-title {
  color: red;
  font-size: 30px;
  font-weight: bold;
}

.link a:hover {
  opacity: .6;
}

/*---- 画面切り替え----- */

.hide {
  display: none;
}

.now-display {
  background-color: rgb(117, 120, 125);
  border: 3px solid rgb(81, 78, 78);
  border-bottom: none;
}


@media (max-width: 900px) {

  /* ------main-------- */

  form {
    gap: 20px;
  }

  .i-p {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-btn-container {
    flex-wrap: wrap;
  }


}

@media (max-width: 500px) {

  /* ---- header --- */

  .top {
    height: 50px;
  }

  .hunburger {
    cursor: pointer;
    position: absolute;
    top: 12px;
    left: 20px;
    width: 25px;
    height: 25px;
    border: none;
    background: none;
  }

  .hunburger span {
    display: block;
    margin-top: 3px;
    width: 100%;
    height: 4px;
    background-color: white;
  }

  .close-btn {
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 15px;
    width: 10px;
    height: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 35px;
  }

  /* ----sideber------- */

  .slider {
    position: absolute;
    top: 50px;
    background-color: rgb(46, 112, 219);
    margin-top: 0px;
    width: 200px;
    height: 100vh;
    position: fixed;
    transform: translate(-400px, 0);
    transition: transform 0.4s;
    z-index: 10;
  }

  .slider-show {
    transform: translate(0, 0);
  }

  .menu-icon {
    width: 40px !important;
  }

  .page-ul {
    width: 70%;
    height: 80%;
    margin: 0 auto;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }


  .page-li {
    width: 100%;
  }

  .page-btn {
    cursor: pointer;
    display: block;
    height: 30px;
    width: 100%;
    color: white;
    background: none;
    border: none;
    border-bottom: 2px solid white;
    font-size: 10px;
    font-weight: bold;
  }



  /* -------main---------- */

  .container {
    padding-top: 50px;
  }



  .main-btn-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .main-btn {
    width: 70px;
    height: 30px;
    font-size: 8px;
  }

  select,
  .reset {
    height: 25px;
    width: 70px;
    font-size: 8px;
  }

  h1 {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
  }

  h2 {
    font-size: 15px;

  }

  form {
    gap: 15px;
  }

  .i-p-container {
    margin-top: 15px;
    gap: 15px;
  }

  .i-p {
    gap: 5px;
  }

  .i-p input {
    height: 25px;
    width: 150px;
    border: 2px solid rgb(0, 149, 255);
    font-size: 12px;
    padding-right: 15px;
  }

  .i-p p {
    font-size: 10px;
    /* display: none; */
  }

  .answer {
    font-size: 15px;
    margin-top: 25px;
    text-align: center;
  }

  span {
    font-size: 20px;
  }

  .main-btn-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .space {
    height: 40px;
  }

  .formula-container {
    display: none;
  }



  /* -----link----- */

  .link-h2 {
    font-size: 15px;
    text-align: left;

  }

  .links {
    margin-top: 10px;
    gap: 40px;
  }

  .link {
    gap: 10px;
  }

  .link-title {
    font-size: 15px;
  }

  .link a {
    font-size: 10px;
  }

}